
        <h2 id="general_Friday">Friday – September 6</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Maasai Mara <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Tsavo Hall <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Amboseli Hall <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T07:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_WTH9FS">
        <a href="/sessions/WTH9FS">Opening Session</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T08:00:00Z">11:00</a></td>
                        <td colspan="3" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T08:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_A3JTVT">
        <a href="/sessions/A3JTVT">The OSM Spectrum</a>    <br><span class="speaker">Pragya Pant, Rabina Poudyal
    </span>
</td>
<td rowspan="1" id="session_7FDPZZ">
        <a href="/sessions/7FDPZZ">Tuning In to Local Needs: How OpenStreetMap Enhances USAID&#39;s Development Programming</a>    <br><span class="speaker">Rory Nealon
    </span>
</td>
<td rowspan="2" id="session_AXHHF3">
        <a href="/sessions/AXHHF3">Exporting high-quality Atlas maps in bulk by leveraging OpenStreetMap Data in QGIS</a>    <br><span class="speaker">Johanes Petro Machela
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T09:00:00Z">12:00</a></td>
                        <td rowspan="2" id="session_LDB3BA">
        <a href="/sessions/LDB3BA">Sustainable Transport on the Map</a>    <br><span class="speaker">Taylor Reich
    </span>
</td>
<td rowspan="1" id="session_SZZP3K">
        <a href="/sessions/SZZP3K">Mapping Populations, Mobilizations, and Territories in Medellín</a>    <br><span class="speaker">Luis Sebastian Bravo Chacon
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T09:30:00Z">12:30</a></td>
                        <td rowspan="1" id="session_WCFXG7">
        <a href="/sessions/WCFXG7">A Replicable Model for OpenStreetMap Training Programs in High Schools</a>    <br><span class="speaker">Zacharia Muindi, Laura Mugeha
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T10:00:00Z">13:00</a></td>
                        <td colspan="3" class="fill-darken0 scheduleBreak">Lunch</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T11:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_98JMSV">
        <a href="/sessions/98JMSV">Some Assembly Required</a>    <br><span class="speaker">Sarah Hoffmann
    </span>
</td>
<td rowspan="1" id="session_YNEPJM">
        <a href="/sessions/YNEPJM">Incorporating OpenStreetMap into Academic Curricula: Insights from GeoTE Tanzania&#39;s Five-Week Field Training programs with YouthMappers and Academic Partners</a>    <br><span class="speaker">Erick Mnyali
    </span>
</td>
<td rowspan="2" id="session_FRFJBJ">
        <a href="/sessions/FRFJBJ">Mapping the classroom with Every Door</a>    <br><span class="speaker">Ilya Zverev
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T12:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_3D9RGU">
        <a href="/sessions/3D9RGU">Setting the Stage for the Future of Web Based Mapping</a>    <br><span class="speaker">Martin Raifer
    </span>
</td>
<td rowspan="1" id="session_MRQDGE">
        <a href="/sessions/MRQDGE">Photo mapping from my village to Pharmacies and Addresses</a>    <br><span class="speaker">Yvonne Darko
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T12:30:00Z">15:30</a></td>
                        <td rowspan="1" id="session_J9ATMQ">
        <a href="/sessions/J9ATMQ">A Novel Approach to Street-Level Data Collection: Using Customized Bajaji (tricycle) and Mapillary to Enrich OpenStreetMap in Dar es Salaam</a>    <br><span class="speaker">benedcto adam
    </span>
</td>
<td rowspan="1" id="session_A7DUFU">
        <a href="/sessions/A7DUFU">Women in OSM Tech - What worked best for me.</a>    <br><span class="speaker">Anastazia Caroll
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T13:00:00Z">16:00</a></td>
                        <td colspan="3" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T13:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_C8B93B">
        <a href="/sessions/C8B93B">OSMF Funding</a>    <br><span class="speaker">Daniela Waltersdorfer Jimenez
    </span>
</td>
<td rowspan="2" id="session_99HWEX">
        <a href="/sessions/99HWEX">Community Capacity Building- Case Study OSM Kenya</a>    <br><span class="speaker">Walter Mayeku, Mary Muthee
    </span>
</td>
<td rowspan="2" id="session_HCCLGL">
        <a href="/sessions/HCCLGL">Hands-on data validation on OSM: best practices and tools</a>    <br><span class="speaker">Michael Montani
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T14:00:00Z">17:00</a></td>
                        <td rowspan="1" id="session_V3FYDH">
        <a href="/sessions/V3FYDH">On the Ground</a>    <br><span class="speaker">Jochen Topf, Frederik Ramm
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-06T14:30:00Z">17:30</a></td>
                        <td rowspan="1" id="session_87HBBY">
        <a href="/sessions/87HBBY">Lightning Talks I</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_MRBEFX">
        <a href="/sessions/MRBEFX">Strengthening Collaboration between Organizations and Local Communities in West Africa Through the OSMer in Residence Program</a>    <br><span class="speaker">Jorieke Vyncke, Yves Emmanuel NIKOYO EMOUGOU
    </span>
</td>
<td></td>                    </tr>
             </tbody>
        </table>
        <h2 id="general_Saturday">Saturday – September 7</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Maasai Mara <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Tsavo Hall <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Amboseli Hall <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Online Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T07:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_B3EH7D">
        <a href="/sessions/B3EH7D">Mapping Kenya: 15 Years of Map Kibera and beyond</a>    <br><span class="speaker">Joshua Ogure, Erica Hagen
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T08:00:00Z">11:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T08:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_BXGLWA">
        <a href="/sessions/BXGLWA">Cloud-native OSM for Visualization &amp; Analysis</a>    <br><span class="speaker">Sajjad Anwar, Wille Marcel
    </span>
</td>
<td rowspan="1" id="session_VS77B3">
        <a href="/sessions/VS77B3">Preparing for disasters with open map data and tools - learning through anticipatory action in Zimbabwe, Liberia and Timor Leste</a>    <br><span class="speaker">Humanitarian OpenStreetMap Team (HOT), Wilson Munyaradzi
    </span>
</td>
<td rowspan="2" id="session_PCW97R">
        <a href="/sessions/PCW97R">OSM Wiki editing workshop</a>    <br><span class="speaker">Mateusz Konieczny
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T09:00:00Z">12:00</a></td>
                        <td rowspan="1" id="session_T3CXBD">
        <a href="/sessions/T3CXBD">MapLibre Tiles: A Next Generation Vector Tiles Format specially designed for OSM data</a>    <br><span class="speaker">Markus Tremmel
    </span>
</td>
<td rowspan="1" id="session_YRLYQZ">
        <a href="/sessions/YRLYQZ">GIS-based disaster management capacity building for Techwomen</a>    <br><span class="speaker">ASSONGTIA ASSONDJI Merveille
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T09:30:00Z">12:30</a></td>
                        <td rowspan="1" id="session_EBMVWS">
        <a href="/sessions/EBMVWS">OpenStreetMap and the GDPR</a>    <br><span class="speaker">Andrew Hain
    </span>
</td>
<td rowspan="1" id="session_ZHME3F">
        <a href="/sessions/ZHME3F">Improving data homogeneity across a country</a>    <br><span class="speaker">Claire Halleux
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T10:00:00Z">13:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Lunch</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T11:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_MJKAC8">
        <a href="/sessions/MJKAC8">Download OSM data translated into your language using free software components and standard protocols</a>    <br><span class="speaker">Séverin Ménard
    </span>
</td>
<td rowspan="2" id="session_THDUGZ">
        <a href="/sessions/THDUGZ">Using OSM for Development: opportunities and challenges in large agencies</a>    <br><span class="speaker">Erica Hagen
    </span>
</td>
<td rowspan="2" id="session_L7SUBJ">
        <a href="/sessions/L7SUBJ">Easy Access to ohsome full history OSM contributions using cloud hosted GeoParquet</a>    <br><span class="speaker">Benjamin Herfort, Rafael Troilo, Michael Auer
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T12:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_A3Y3BC">
        <a href="/sessions/A3Y3BC">State of the art in combining OSM and Linked Data</a>    <br><span class="speaker">Daniele Santini
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T12:30:00Z">15:30</a></td>
                        <td rowspan="1" id="session_ZVVQTA">
        <a href="/sessions/ZVVQTA">The Journal of Importing Open Data Address in Taiwan into OpenStreetMap</a>    <br><span class="speaker">Dennis Raylin Chen
    </span>
</td>
<td rowspan="1" id="session_3ZU3ZR">
        <a href="/sessions/3ZU3ZR">Open mapping through tropical forest biodiversity conservation</a>    <br><span class="speaker">Luis Sebastian Bravo Chacon
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T13:00:00Z">16:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T13:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_8XCQJB">
        <a href="/sessions/8XCQJB">OSMF board – what are they even doing?</a>    <br><span class="speaker">Mateusz Konieczny
    </span>
</td>
<td rowspan="1" id="session_HVVYM7">
        <a href="/sessions/HVVYM7">Generating Ways with the Strava Heatmap</a>    <br><span class="speaker">Derick Yang, Drew Robb
    </span>
</td>
<td></td><td rowspan="2" id="session_HLR7MM">
        <a href="/sessions/HLR7MM">Build an OpenStreetMap walking tour with a free and open source video game</a>    <br><span class="speaker">Paul Pickell
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T14:00:00Z">17:00</a></td>
                        <td rowspan="2" id="session_RMFSEG">
        <a href="/sessions/RMFSEG">Fostering mutually beneficial partnerships with OSM local groups</a>    <br><span class="speaker">Martin Noblecourt
    </span>
</td>
<td rowspan="1" id="session_N7TGMA">
        <a href="/sessions/N7TGMA">Catching OSM Up with External Data with a Workflow and Tools for Conflation and Validation</a>    <br><span class="speaker">Stefan Keller
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-07T14:30:00Z">17:30</a></td>
                        <td rowspan="1" id="session_SYRTRW">
        <a href="/sessions/SYRTRW">Lightning Talks II</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td>                    </tr>
             </tbody>
        </table>
        <h2 id="general_Sunday">Sunday – September 8</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Maasai Mara <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Tsavo Hall <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Amboseli Hall <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Online Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T06:30:00Z">09:30</a></td>
                        <td rowspan="1" id="session_DBW99C">
        <a href="/sessions/DBW99C">AI and Open Source Mapping</a>    <br><span class="speaker">Muhammad Saleem
    </span>
</td>
<td rowspan="1" id="session_PG3K3G">
        <a href="/sessions/PG3K3G">Assessing the performance of AI-assisted mapping of building footprints for OSM</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Anna Zanchetta
    </span>
</td>
<td rowspan="2" id="session_98YGWG">
        <a href="/sessions/98YGWG">Get to know OSGeo and expand Your Open Mapping Toolkit</a>    <br><span class="speaker">Laura Mugeha
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T07:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_XUJWAM">
        <a href="/sessions/XUJWAM">openrouteservice version 8 - Experiences and insights from 10+ years of running and providing a global OSM-driven, free and open-source routing engine</a>    <br><span class="speaker">Julian Psotta
    </span>
</td>
<td rowspan="1" id="session_R9CVQD">
        <a href="/sessions/R9CVQD">Assessing the attribute accuracy and logical consistency of road data in OpenStreetMap</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Wangshu Wang
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T07:30:00Z">10:30</a></td>
                        <td rowspan="1" id="session_NHZVNW">
        <a href="/sessions/NHZVNW">How to develop your own style of OpenMapTiles with your favorite editor?</a>    <br><span class="speaker">Taro Matsuzawa
    </span>
</td>
<td rowspan="1" id="session_LAZXYU">
        <a href="/sessions/LAZXYU">From Complexity to Clarity: Simplifying OpenStreetMap Data for Improved Active Transportation Analysis</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Achituv Cohen
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T08:00:00Z">11:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T08:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_PRQKRX">
        <a href="/sessions/PRQKRX">The Current State of Collaboration between Digital Twin and OSM</a>    <br><span class="speaker">Taichi Furuhashi
    </span>
</td>
<td><a href="/sessions/academic_lightning_talks_1">Academic Lightning Talks I</a>&nbsp;<span title="academic talk">🎓</span></td><td></td><td rowspan="2" id="session_YNBJGQ">
        <a href="/sessions/YNBJGQ">The worst and best of OpenStreetMap in Ghana (Africa)</a>    <br><span class="speaker">Enock Seth Nyamador
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T09:00:00Z">12:00</a></td>
                        <td rowspan="1" id="session_Z8F8RB">
        <a href="/sessions/Z8F8RB">Do we need 11 000 shop=* values?</a>    <br><span class="speaker">Mateusz Konieczny
    </span>
</td>
<td rowspan="1" id="session_HD9RQD">
        <a href="/sessions/HD9RQD">Shifting trends in global evolution of corporate mapping in OSM</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Benjamin Herfort
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T09:30:00Z">12:30</a></td>
                        <td rowspan="1" id="session_ZZTZRB">
        <a href="/sessions/ZZTZRB">Lightning Talks III</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_SHA79S">
        <a href="/sessions/SHA79S">Investigating Corporate Editors in OpenStreetMap</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Alex Hoferek
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T10:00:00Z">13:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Lunch</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T11:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_SC7HYF">
        <a href="/sessions/SC7HYF">Go Out And Map</a>    <br><span class="speaker">Ilya Zverev
    </span>
</td>
<td><a href="/sessions/academic_lightning_talks_2">Academic Lightning Talks II</a>&nbsp;<span title="academic talk">🎓</span></td><td rowspan="2" id="session_TQXSFP">
        <a href="/sessions/TQXSFP">From Source to Map: Strategies for Integrating External Data into OpenStreetMap</a>    <br><span class="speaker">Amour Nyalusi
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T12:00:00Z">15:00</a></td>
                        <td rowspan="2" id="session_C8UWGW">
        <a href="/sessions/C8UWGW">OSMF Board AMA</a>    <br><span class="speaker">Sarah Hoffmann, Mateusz Konieczny, Craig Allan, Daniela Waltersdorfer Jimenez, OSMF board, Arnalie Vicario, Guillaume Rischard, Roland Olbricht
    </span>
</td>
<td rowspan="1" id="session_FSYR9S">
        <a href="/sessions/FSYR9S">What happens when VGI is threatened? A systems perspective analysis of the events behind the introduction of rate limiting in OpenStreetMap</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Marco Minghini, Yair Grinberger &amp; Marco Minghini
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T12:30:00Z">15:30</a></td>
                        <td rowspan="1" id="session_CDT3PZ">
        <a href="/sessions/CDT3PZ">Beyond the seventh mountain, beyond the seventh river - Openstreetmap as a base map in geographical research</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Paweł Struś
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T13:00:00Z">16:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee and Snacks</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2024-09-08T13:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_8ZVKZV">
        <a href="/sessions/8ZVKZV">Closing Session</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
             </tbody>
        </table>

