    <!-- About Section -->
    <section id="about" class="contain page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map 2024</h1>
            <p>State of the Map is the annual event for all mappers and OpenStreetMap users. In 2024 the State of the Map conference will be taking place in Nairobi, Kenya and online. It will be a three day conference packed with talks, workshops, discussion rounds and more.</p>
            <p>Your organising team.</p>
            <p class="logo">
                <img src="img/logo/sotm_2024.svg" style="width:50%;">
            </p>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
          <p>
            <a href="venue">Nairobi, Kenya.</a>
          </p>

          <h3 class="small-title uppercase">When?</h3>
          <p>
            September 6 - 8, 2024
          </p>

          <!--<h3 class="small-title uppercase"><a href="events">Social Event</a></h3>
          <p>
            TBD
          </p>-->

          <!--<h3 class="small-title uppercase">Additional Events</h3>
          <ul>
          </ul>-->

          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <a href="https://openstreetmap.org"><img src="img/osm.svg" style="height:85px; margin-top:20px;" /></a>
<h4>Support OpenStreetMap!</h4>

<small>OpenStreetMap is free to use, but not free to run. If you wish to further support the project, head over to OpenStreetMap's <a href="https://supporting.openstreetmap.org/">donation</a> page to find out how you can help improve its stability, quality and independence.</small>
          </p>
        </div>
      </div>
    </section>
