    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="logo">
                    <img src="img/logo/sotm_2024.svg">
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                        <i class="icon big down animated"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="credits">
          Logo: Paul H. Bushoki &mdash; <a href="https://commons.wikimedia.org/wiki/File:Three_giraffes_01.jpg">Background</a>: © Byrdyak <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>
        </div>
    </header>
