    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="logo">
                    <img src="img/logo/sotm_2024.svg">
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                        <i class="icon big down animated"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="credits">
          Logo: Paul H. Bushoki &mdash; <a href="https://unsplash.com/photos/city-skyline-under-white-sky-during-daytime-LTh5pGyvKAM">Background</a>: © Amani Nation (<a href="https://unsplash.com/license">Unsplash License</a>)
        </div>
    </header>
