    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <!--<div class="logo">
                    <img src="img/logo/sotm_2024.svg">
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                        <i class="icon big down animated"></i>
                    </a>
                </div>-->

                <div class="attending">
                  <img src="img/logo/sotm_2024.svg">
                  <h1 class="space-bottom2">Thanks for Attending State of the Map 2024!</h1>
                  <!--<p>Attending in person in Nairobi? You can here find more information about the <a href="/venue">venue</a> and the <a href="/programme">programme</a>.</p>
                  <p>Attending remotely? Head over to the <a href="https://sotm2024.venueless.events/">online conference platform</a> if you bought the Venueless ticket.</p>
                  <p>Or watch the free live <a href="/stream">stream</a> 🎥 here on the website.</p>
                  <h2>What's more?</h2>-->
                  <p>
                    <ul>
                      <li>Conference Posters are published <a href="/posters/">on the website</a>.</li>
                      <li>The recordings of the talks and proceedings of OSM Science will be made available after the conference.</li>
                      <li>Take a look at the <a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2024#Photos">photos</a> of the conference.</li> 
                      <li>Follow State of the Map on social media (<a href="https://en.osm.town/@sotm">Mastodon</a> or <a href="https://x.com/sotm">X</a>) and use the hashtag <i>#stateofthemap2024</i>.</li>
                      <li>Connect with others in our <a href="https://t.me/sotm_international">telegram group chat</a> and share your State of the Map experience!</li>
                    </ul>
                  </p>
                  <p>Thanks to our <a href="/#sponsors">sponsors</a> for supporting SotM 2024!</p>
                  <h2>And next year?</h2>
                  <p>See you next year for State of the Map 2025 in <a href="https://youtu.be/Q5dyxy6YxG0">Manila</a>!</p>
              </div>

            </div>
        </div>
        <div class="credits">
          Logo: Paul H. Bushoki &mdash; <a href="https://unsplash.com/photos/city-skyline-under-white-sky-during-daytime-LTh5pGyvKAM">Background</a>: © Amani Nation (<a href="https://unsplash.com/license">Unsplash License</a>)
        </div>
    </header>
