<div id="map" style="height:420px; width:100%"></div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var map = L.map('map').setView([-1.27903, 36.81649], {{ include.zoom }});
    L.control.scale().addTo(map);
    L.tileLayer('{{ site.map_tiles.url}}', {
      attribution: '{{ site.map_tiles.attribution }}',
      maxZoom: {{ site.map_tiles.maxZoom}}
    }).addTo(map);
    map.scrollWheelZoom.disable();
    L.marker([-1.27903550863266, 36.81655079126358], {icon: L.icon({
      iconUrl: "{{ "/img/logo/sotm_2024-pin.svg" | prepend: site.baseurl }}",
      iconSize: [60, 60],
      iconAnchor: [30, 60]
    })}).bindPopup("<h3>University of Nairobi Towers</h3><p>Conference Venue.<br><a href='https://osm.org/go/l9wM~Burm?m' target='_blank'>Open location on osm.org</a>.</p>").addTo(map);
  }, false);
</script>
